body {
  font-family: "Montserrat", sans-serif;
  width: 1440px;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

header {
  background-color: rgba(255, 217, 0, 0.616);
  height: 150px;
}

a {
  text-decoration: none;
}
header nav {
  display: inline-block;
  position: relative;
  left: 17rem;
  bottom: 1rem;
}
header nav a {
  color: black;
  padding: 1.5pc;
  font-weight: 600;
  font-size: 20px;
}
.burger {
    display: none;
}
.logo {
  height: 100px;
  position: relative;
  left: 15rem;
  top: 1.5rem;
}
.top {
  background-color: #fafafa;
}

.handimg {
  width: 49%;
  display: inline-block;
  position: relative;
  right: -1.5rem;
}

.top div {
  width: 49%;
  display: inline-block;
  position: relative;
  left: 7rem;
  bottom: 15rem;
}

.titulo {
  font-weight: 700;
  font-size: 50px;
}
.texto {
  font-weight: 500;
  font-size: 25px;
  line-height: 2.6rem;
}

.frame1 {
  margin: 0%;
  background-color: blueviolet;
  height: 200px;
}
.centrado {
  width: 500px;
  color: white;
  margin: 0%;
  position: relative;
  left: 30rem;
  top: 4rem;
}
.medium1 {
  background-color: #fafafa;
}
.medium1 div {
  width: 30%;
  display: inline-block;
  position: relative;
  left: 9rem;
  bottom: 7rem;
}
.smartphonesimg {
  width: 55%;
  position: relative;
  top: 3rem;
  left: 3rem;
  margin-bottom: 3rem;
}

.medium2 {
  background-color: #fafafa;
}
.medium2 div {
  width: 30%;
  display: inline-block;
  position: relative;
  left: 6rem;
  bottom: 10rem;
}
.repairimg {
  width: 55%;
  position: relative;
  top: 3rem;
  left: 10rem;
  margin-bottom: 6rem;
}
footer {
    height: 310px;
    background-color: #1b1b82;
} 
.logo2 {
    height: 100px;
    position: relative;
    left: 44rem;
    top: 3rem;
}
.social-div {
    width: 40%;
    position: relative;
    left: 37rem;
    top: 5rem;
}
.social-logos {
    height: 29px;
    padding-right: 3pc;
}

.Copyright {
    width: 400px;
    font-size: 20px;
    color: white;
    margin: 0%;
    position: relative;
    left: 34rem;
    top: 8rem;    
}

.abouttop {
    padding-top: 2pc;
}
.aboutframe {
    background-color: brown;
}


@media (max-width:480px) {
    body {
        width: 480px;
    }
    header nav {
        display: none;
    }
    .logo {
        left: 3pc;
    }
    .burger {
        display: inline-block;
        position: relative;
        left: 16pc;
        bottom: 1pc;
    }
    .top img {
        display: none;
    }
    .top div {
        top: 2pc;
        left: 1pc;
        width: 90%;
        margin-bottom: 4pc;
        }
    .titulo {
        font-size: 35px;

    }
    .texto {
        font-size: 19px;

    }




    .centrado {
        width: 400px;
        color: white;
        margin: 0%;
        position: relative;
        left: 4pc;
        top: 5rem;
      }
      .medium1 {
        background-color: #fafafa;
      }
      .medium1 div {
        width: 400px;
        display: inline;
        position: absolute;
        left: 2pc;
        top: 55pc;
      }
      .smartphonesimg {
        width: 90%;
        position: relative;
        top: 23rem;
        left: 1rem;
        margin-bottom: 3rem;
      }
      
      .medium2 {
        background-color: #fafafa;
      }
      .medium2 div {
        width: 400px;
        display: inline;
        position: absolute;
        left: 2pc;
        top: 100pc;
      }
      .repairimg {
        width: 90%;
        position: relative;
        top: 50rem;
        left: 1rem;
        margin-bottom: 3rem;
      }
      footer {
        margin-top: 50pc;
          height: 310px;
          background-color: #1b1b82;
      } 
      .logo2 {
          height: 100px;
          position: relative;
          left: 12rem;
          top: 3rem;
      }
      .social-div {
          width: 70%;
          position: relative;
          left: 5rem;
          top: 5rem;

      }
      .social-logos {
          height: 29px;
          padding-right: 3pc;
      }
      
      .Copyright {
          width: 80%;
          font-size: 20px;
          color: white;
          margin: 0%;
          position: relative;
          left: 3rem;
          top: 8rem;    
      }
      
      .abouttop {
          padding-top: 2pc;
      }
      .aboutframe {
          background-color: brown;
      }
}